<div id="loginSection">
  <mat-tab-group>
    <mat-tab label="Login">
      <form (submit)="login()">
        <h3 class="label">Login to JustChat</h3>
        <mat-form-field>
          <input [(ngModel)]="loginEmailInput" name="loginEmailInput" type="email" class="emailInput" matInput
                 placeholder="Email" required>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="loginPasswordInput" name="loginPasswordInput" type="password" class="passwordInput"
                 matInput placeholder="Password" required>
        </mat-form-field>
        <button type="submit" class="submitButton" mat-raised-button color="accent">Login</button>
        <pre *ngIf="loginErrorMessage" class="error">{{loginErrorMessage}}</pre>
      </form>
    </mat-tab>

    <mat-tab label="Register">
      <form (submit)="register()">
        <h3 class="label">Create new account</h3>
        <mat-form-field>
          <input [(ngModel)]="registerNameInput" name="registerNameInput" type="text" class="nameInput" matInput
                 placeholder="Nickname" required>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="registerEmailInput" name="registerEmailInput" type="email" class="emailInput" matInput
                 placeholder="Email" required>
        </mat-form-field>
        <mat-form-field>

          <input [(ngModel)]="registerPasswordInput" name="registerPasswordInput" type="password" class="passwordInput"
                 matInput placeholder="Password"
                 required>
        </mat-form-field>
        <button type="submit" class="submitButton" mat-raised-button color="accent">Register
        </button>
        <pre class="error" *ngIf="registerErrorMessage">{{registerErrorMessage}}</pre>
      </form>
    </mat-tab>
  </mat-tab-group>


</div>
