
.main-content {
  align-items: stretch;
  display: flex;
  height: calc(100% - 104px); // toolbar + upper and lower padding
  padding: 20px;
  overflow-x: hidden;
}

app-conversations {
  flex: 1;
}

app-login{
  width: 100%;
}

mat-toolbar {
  justify-content: space-between;
}

.user-profile {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.space {
  width: 24px;
}

body, html {
  overflow-x: hidden;
}

