<mat-toolbar color="primary" class="mat-elevation-z8">
  <span routerLink="" class="mat-button title">JustChat</span>
  <span class="flex-space"></span>

  <ng-container *ngIf="!error">
    <span routerLink="login" *ngIf="(isGuest || !logged) && route!=='login'"
          class="mat-button toolbar-item">Login</span>
    <span *ngIf="logged && !isGuest" (click)="onLogoutClick()" class="mat-button toolbar-item">Logout</span>
    <span routerLink="" *ngIf="route!==''" class="mat-button toolbar-item">Back to chat</span>
    <span (click)="loginAsGuest()" *ngIf="!logged && route!=='login'"
          class="mat-button toolbar-item">Back as guest</span>
  </ng-container>
</mat-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
