@import 'colors';

.main-content {
  align-items: stretch;
  display: flex;
  height: calc(100% - 104px); // toolbar + upper and lower padding
  padding: 20px;
  overflow-x: hidden;
}

app-login {
  width: 100%;
}

.user-profile {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  line-height: 22px;
}

body, html {
  overflow-x: hidden;
}

:host /deep/ app-chat, :host /deep/ app-login {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-space {
  flex: 1;
}

.toolbar-item {
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.title{
font-size: inherit;
  padding: 0;
}
